<!DOCTYPE html>
<html  xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<title></title>
</head>
<style>
	.alertErro{
		background: red;
		color: white;
	}
	.alertSucesso{
		background: green;
		color: white;
	}
</style>
<body>
	<br>
	<br>
	<div class="alertErro"
		 th:if="${not #strings.isEmpty(mensagemErro)}">
			<span th:text="${mensagemErro}"></span>
		</div>
		<div class="alertSucesso"
		 th:if="${not #strings.isEmpty(mensagemSucesso)}">
			<span th:text="${mensagemSucesso}"></span>
		</div>
                
	
	
</body>
</html>