<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>error 500</title>
</head>
<style>
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px
}
.divErro{
	padding-left: 400px;
}
</style>
<body>
<header th:replace="padrao/padraoError404 :: cabecalho"></header>
<div class="divErro">
<h1>error 500</h1>
<p></p>HTTP Status 500 – Internal Server Error
<p></p>Type Exception Report

<p>Messagem do erro:</p>

<p>Descrição O servidor encontrou uma condição inesperada que o impediu de atender à solicitação.</p>

<p>Exception</p>



<p>luflix.studio.br/2.0456wd</p>
</div>

<footer th:replace="padrao/padraoError404 :: rodape"></footer>

</body>
</html>