<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>HtMl padrão</title>
</head>
<style>
	header{
		
		
	}
	
</style>
<body>



	<header th:fragment="cabecalho" class="navBar">



		<nav style="background-color:black;">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo right">-ERROR-</a>
				<ul id="nav-mobile" class="left hide-on-med-and-down">
					<li><a href="/formAdmin">_-++=-=-00-00-</a></li>
					<li><a href="#">Ch4545~5</a></li>
					<li><a href="#">4738.vk </a></li>
				</ul>
			</div>
		</nav>
	</header>


	<footer class="page-footer " style="background-color: black;"
		th:fragment="rodape">
		<div class="footer-copyright">
			<div class="container">
				© 2022 ererituxt <a class="grey-text text-lighten-4 right"
					href="#!">egoeere gLinfgsks</a>
			</div>
		</div>
	</footer>
</body>
</html>